%titre-global {
    font-family: Comfortaa, sans-serif;
    text-align: center;
    font-size: 70px;
    padding: 0 25px 20px;
}


%flex-double-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

